# Prerequisites
#------------------------------
*.d

# Compiled Object files
#------------------------------
*.slo
*.lo
*.o
*.a
libpwx*.so*
*.dep
*.layout
build/
*.obj
rebuild.sh

# Precompiled Headers
#------------------------------
*.gch
*.pch

# Compiled Dynamic libraries
#------------------------------
*.so
*.dylib
*.dll

# Fortran module files
#------------------------------
*.mod
*.smod

# Temporary files
#------------------------------
*~
*.old
*.bak

# Compiled Static libraries
#------------------------------
*.lai
*.la
*.a
*.lib

# Executables
#------------------------------
*.exe
*.out
*.app

# Helper files and directories
#------------------------------
old/
textAnalyzer/
*.cscope_file_list

